body{
  background-image: url(fnaf1walls.png);
  background-size: cover;
  background-repeat: repeat;
}
a{
  text-decoration: none;
  font-size: 22px;
}
a::visited{
  color: black;
}
p{
  color: grey;
}